# Python virtual environment
env/

# Python compiled/cache
__pycache__/
*.pyc

# Editors
.vscode

# Config
.envvars

# Content, default paths
data/graph.cache
data/safe_graph.cache
data/lowsec_graph.cache